<h1>Cuaderno de notas TP1 laboratorio de Datos</h1>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from inline_sql import sql, sql_val

<h2>Importamos las tablas de datos</h2>

In [2]:
direccion = './TablasOriginales/'
df_sedes_completo = pd.read_csv(direccion + 'lista-sedes-datos.csv', on_bad_lines="warn")
# se agrega on_bad_lines, pues hay un error en la linea 16 del csv, con esto se logra ignorarla
df_sedes = pd.read_csv(direccion + 'lista-sedes.csv')
df_secciones = pd.read_csv(direccion + 'lista-secciones.csv')
archivo_inversiones = 'flujos-monetarios-netos-inversion-extranjera-directa.csv'
df_IED = pd.read_csv(direccion + archivo_inversiones, index_col="indice_tiempo").T # IED = Inversion Extranjera Directa
df_paises = pd.read_csv(direccion + 'paises.csv')

b'Skipping line 16: expected 37 fields, saw 38\n'

Para una descripcion mas completa de cada columna visitar ver los links en las indicaciones del TP

<hr>

<h2>Veamos las propiedades de cada tabla</h2>

<h3>data frame de sedes</h3>

In [3]:
df_sedes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   sede_id               164 non-null    object
 1   sede_desc_castellano  164 non-null    object
 2   sede_desc_ingles      164 non-null    object
 3   pais_iso_2            164 non-null    object
 4   pais_iso_3            164 non-null    object
 5   pais_castellano       164 non-null    object
 6   pais_ingles           164 non-null    object
 7   ciudad_castellano     164 non-null    object
 8   ciudad_ingles         164 non-null    object
 9   estado                164 non-null    object
 10  sede_tipo             164 non-null    object
dtypes: object(11)
memory usage: 14.2+ KB

In [4]:
df_sedes.head()

,sede_id,sede_desc_castellano,sede_desc_ingles,pais_iso_2,pais_iso_3,pais_castellano,pais_ingles,ciudad_castellano,ciudad_ingles,estado,sede_tipo
0,CALEG,Consulado General en Porto Alegre,Consulate General in PORTO ALEGRE,BR,BRA,REPÚBLICA FEDERATIVA DEL BRASIL,FEDERATIVE REPUBLIC OF BRAZIL,Porto Alegre,Porto Alegre,Activo,Consulado
1,CANTO,Consulado en Antofagasta,Consulate in ANTOFAGASTA,CL,CHL,REPÚBLICA DE CHILE,REPUBLIC OF CHILE,Antofagasta,Antofagasta,Activo,Consulado
2,CAREN,Consulado General en Punta Arenas,Consulate General in Punta Arenas,CL,CHL,REPÚBLICA DE CHILE,REPUBLIC OF CHILE,Punta Arenas,Punta Arenas,Activo,Consulado
3,CASUN,Consulado General en Asunción,Consulate General in Asuncion,PY,PRY,REPÚBLICA DEL PARAGUAY,REPUBLIC OF PARAGUAY,Asunción,Asuncion,Activo,Consulado
4,CATLA,Consulado General en Atlanta,Consulate General in Atlanta,US,USA,Estados Unidos de América,UNITED STATES OF AMERICA,Atlanta,Atlanta,Activo,Consulado

**resumen:** 
* no falta ningun campo, es decir, no hay Nulls
* hay columnas de las cuales podemos prescindir para el objetivo de este TP (por ejemplo, podriamos eliminar las columnas en ingles)
* todos los campos se de tipo 'string'

<h3>data frame sedes completo</h3>

In [5]:
df_sedes_completo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 37 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   sede_id                           163 non-null    object
 1   sede_desc_castellano              163 non-null    object
 2   sede_desc_ingles                  163 non-null    object
 3   pais_castellano                   163 non-null    object
 4   pais_ingles                       163 non-null    object
 5   region_geografica                 163 non-null    object
 6   pais_iso_2                        163 non-null    object
 7   pais_iso_3                        163 non-null    object
 8   pais_codigo_telefonico            163 non-null    int64
 9   ciudad_castellano                 163 non-null    object
 10  ciudad_ingles                     163 non-null    object
 11  ciudad_zona_horaria_gmt           162 non-null    float64
 12  ciudad_codigo_telefonico          151 non-null    float64
 13  estado                            163 non-null    object
 14  titular_nombre                    162 non-null    object
 15  titular_apellido                  162 non-null    object
 16  titular_cargo                     162 non-null    object
 17  direccion                         163 non-null    object
 18  codigo_postal                     161 non-null    object
 19  telefono_principal                163 non-null    object
 20  telefonos_adicionales             96 non-null     object
 21  celular_guardia                   162 non-null    object
 22  celulares_adicionales             7 non-null      object
 23  fax_principal                     118 non-null    object
 24  faxes_adicionales                 4 non-null      object
 25  correo_electronico                160 non-null    object
 26  correos_electronicos_adicionales  28 non-null     object
 27  sitio_web                         161 non-null    object
 28  sitios_web_adicionales            0 non-null      float64
 29  redes_sociales                    126 non-null    object
 30  atencion_dia_desde                103 non-null    object
 31  atencion_dia_hasta                103 non-null    object
 32  atencion_hora_desde               117 non-null    object
 33  atencion_hora_hasta               117 non-null    object
 34  atencion_comentario               115 non-null    object
 35  concurrencias                     42 non-null     object
 36  circunscripcion                   146 non-null    object
dtypes: float64(3), int64(1), object(33)
memory usage: 47.2+ KB

In [6]:
df_sedes_completo.head()

,sede_id,sede_desc_castellano,sede_desc_ingles,pais_castellano,pais_ingles,region_geografica,pais_iso_2,pais_iso_3,pais_codigo_telefonico,ciudad_castellano,...,sitio_web,sitios_web_adicionales,redes_sociales,atencion_dia_desde,atencion_dia_hasta,atencion_hora_desde,atencion_hora_hasta,atencion_comentario,concurrencias,circunscripcion
0,CALEG,Consulado General en Porto Alegre,Consulate General in PORTO ALEGRE,REPÚBLICA FEDERATIVA DEL BRASIL,FEDERATIVE REPUBLIC OF BRAZIL,AMÉRICA DEL SUR,BR,BRA,55,Porto Alegre,...,caleg.cancilleria.gob.ar,NaN,https://twitter.com/ArgPortoAlegre // https:...,NaN,NaN,00:00:00,00:00:00,9 a 18 hs; Atención al público 9 a 15...,NaN,Aceguá; Água Santa; Agudo; Alto Alegre; ...
1,CANTO,Consulado en Antofagasta,Consulate in ANTOFAGASTA,REPÚBLICA DE CHILE,REPUBLIC OF CHILE,AMÉRICA DEL SUR,CL,CHL,56,Antofagasta,...,https://canto.cancilleria.gob.ar/,NaN,https://www.facebook.com/Consulado-de-la-Rep%C...,Lunes,Viernes,09:30:00,14:00:00,Horario administrativo: 09:00 a 17:30 h,NaN,Región de Arica y Parinacota - Capital ...
2,CAREN,Consulado General en Punta Arenas,Consulate General in Punta Arenas,REPÚBLICA DE CHILE,REPUBLIC OF CHILE,AMÉRICA DEL SUR,CL,CHL,56,Punta Arenas,...,https://caren.cancilleria.gob.ar/,NaN,https://www.facebook.com/profile.php?id=100014...,NaN,NaN,NaN,NaN,09:00 a 14:00 (Atención al Público) a 1...,NaN,Región XII Magallanes y Antártica Chilena...
3,CASUN,Consulado General en Asunción,Consulate General in Asuncion,REPÚBLICA DEL PARAGUAY,REPUBLIC OF PARAGUAY,AMÉRICA DEL SUR,PY,PRY,595,Asunción,...,www.casun.mrecic.gov.ar,NaN,@ArgentinaEnAsuncion //,Lunes,Viernes,08:00:00,13:00:00,Horario de funcionarios hasta 15:00 hs.,NaN,"Departamentos de Boquerón, Alto Paraguay, P..."
4,CATLA,Consulado General en Atlanta,Consulate General in Atlanta,Estados Unidos de América,UNITED STATES OF AMERICA,AMÉRICA DEL NORTE,US,USA,1,Atlanta,...,www.catla.mrecic.gov.ar,NaN,NaN,NaN,NaN,NaN,NaN,de 9:00 a 14:00 hs (Público) - Oficina ...,NaN,"Estados de Alabama, Carolina del Sur, Geor..."

Pareciera que df_sedes_completo abarca todo el df_sedes, por lo que parecería innecesario usarlo. Veamos si es asi:

In [7]:
coincidencias = 0
for columna in df_sedes.columns:
    if columna not in df_sedes_completo:
        print(f'Falta la columna {columna}')
    else:
        coincidencias += 1

print(f"De las {len(df_sedes.columns)} columnas en df_sedes: {coincidencias} se encuentran en df_sedes_completo")

Falta la columna sede_tipo
De las 11 columnas en df_sedes: 10 se encuentran en df_sedes_completo

Al parecer solo hay una columna que nos da info adicional en df_sedes: $sede\_tipo$

**resumen**
* contiene casi todas las cols de df_sedes
* hay varios valores null que manejar
* hay muchas columnas que no nos van a servir probablemente

<h3>data frame secciones</h3>

In [8]:
df_secciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 516 entries, 0 to 515
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   sede_id                 515 non-null    object
 1   sede_desc_castellano    516 non-null    object
 2   sede_desc_ingles        498 non-null    object
 3   tipo_seccion            516 non-null    object
 4   nombre_titular          503 non-null    object
 5   apellido_titular        494 non-null    object
 6   cargo_titular           511 non-null    object
 7   telefono_principal      373 non-null    object
 8   telefonos_adicionales   58 non-null     object
 9   celular_de_guardia      130 non-null    object
 10  celulares_adicionales   5 non-null      object
 11  fax_principal           118 non-null    object
 12  faxes_adicionales       6 non-null      object
 13  correo_electronico      504 non-null    object
 14  correos_adicionales     28 non-null     object
 15  sitio_web               113 non-null    object
 16  sitios_web_adicionales  2 non-null      object
 17  atencion_dia_desde      278 non-null    object
 18  atencion_dia_hasta      279 non-null    object
 19  atencion_hora_desde     327 non-null    object
 20  atencion_hora_hasta     327 non-null    object
 21  comentario_del_horario  182 non-null    object
 22  temas                   0 non-null      float64
dtypes: float64(1), object(22)
memory usage: 92.8+ KB

In [9]:
df_secciones.head()

,sede_id,sede_desc_castellano,sede_desc_ingles,tipo_seccion,nombre_titular,apellido_titular,cargo_titular,telefono_principal,telefonos_adicionales,celular_de_guardia,...,correo_electronico,correos_adicionales,sitio_web,sitios_web_adicionales,atencion_dia_desde,atencion_dia_hasta,atencion_hora_desde,atencion_hora_hasta,comentario_del_horario,temas
0,ECHES,Administración,Administrative Section,Seccion,María Verónica,Skerianz,Jefe de Sección Administrativa,NaN,NaN,NaN,...,eches@mrecic.gov.ar,NaN,NaN,NaN,Lunes,Viernes,09:00:00,17:00:00,NaN,NaN
1,ERUNI,Administración,Administration,Seccion,María Carolina,Etcheverry,Agregada,NaN,NaN,NaN,...,eruni@mrecic.gov.ar,NaN,NaN,NaN,Lunes,Viernes,09:00:00,18:00:00,NaN,NaN
2,EHAIT,Administración,Todo el territorio de Haiti,Seccion,Sergio Fabián,Pérez Godoy,Jefe de Sección Administrativa,509 2940-67/11/12/13/14,NaN,00 509 3676 0359,...,ehait@cancilleria.gob.ar,NaN,NaN,NaN,Lunes,Viernes,NaN,NaN,9.00 hs a 17.00 hs,NaN
3,EKENY,Administración,Administrative Section,Seccion,Ximena Inés,Toledo,Jefe/a de Oficina,NaN,NaN,NaN,...,ekeny@cancilleria.gob.ar,NaN,NaN,NaN,Lunes,Viernes,09:00:00,16:00:00,NaN,NaN
4,ERUNI,Administración,Administracion,Seccion,Carlos Esteban,Pronato,Jefe de Sección,44 2073181300,NaN,NaN,...,eruni@mrecic.gov.ar,NaN,NaN,NaN,Lunes,Viernes,09:00:00,18:00:00,NaN,NaN

**resumen:**
* hay que manejar nulls
* se pueden borrar muchas columnas que probablemente no sirvan
* se puede usar $sede\_id$ para relacionarla con las tablas de las sedes

<h3>data frame paises</h3>

In [10]:
df_paises.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nombre       248 non-null    object
 1    name        248 non-null    object
 2    nom         248 non-null    object
 3    iso2        247 non-null    object
 4    iso3        248 non-null    object
 5    phone_code  245 non-null    object
dtypes: object(6)
memory usage: 11.8+ KB

In [11]:
df_paises.head()

       nombre         name          nom  iso2  iso3  phone_code
0  Afganistán  Afghanistan  Afghanistan    AF   AFG          93
1     Albania      Albania      Albanie    AL   ALB         355
2    Alemania      Germany    Allemagne    DE   DEU          49
3     Andorra      Andorra      Andorra    AD   AND         376
4      Angola       Angola       Angola    AO   AGO         244

**resumen:**
* podemos usar $iso3$ para relacionarlo con las otras tablas, ya que este no tiene ningun null

<h3>data frame IED</h3>

In [12]:
df_IED.info()

<class 'pandas.core.frame.DataFrame'>
Index: 172 entries, afganistan to zimbabue
Data columns (total 43 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   1980-01-01  120 non-null    float64
 1   1981-01-01  121 non-null    float64
 2   1982-01-01  123 non-null    float64
 3   1983-01-01  123 non-null    float64
 4   1984-01-01  124 non-null    float64
 5   1985-01-01  129 non-null    float64
 6   1986-01-01  129 non-null    float64
 7   1987-01-01  131 non-null    float64
 8   1988-01-01  131 non-null    float64
 9   1989-01-01  132 non-null    float64
 10  1990-01-01  138 non-null    float64
 11  1991-01-01  139 non-null    float64
 12  1992-01-01  152 non-null    float64
 13  1993-01-01  157 non-null    float64
 14  1994-01-01  156 non-null    float64
 15  1995-01-01  157 non-null    float64
 16  1996-01-01  156 non-null    float64
 17  1997-01-01  160 non-null    float64
 18  1998-01-01  161 non-null    float64
 19  1999-01-01  161 non-null    float64
 20  2000-01-01  163 non-null    float64
 21  2001-01-01  163 non-null    float64
 22  2002-01-01  162 non-null    float64
 23  2003-01-01  165 non-null    float64
 24  2004-01-01  165 non-null    float64
 25  2005-01-01  166 non-null    float64
 26  2006-01-01  166 non-null    float64
 27  2007-01-01  166 non-null    float64
 28  2008-01-01  167 non-null    float64
 29  2009-01-01  166 non-null    float64
 30  2010-01-01  166 non-null    float64
 31  2011-01-01  166 non-null    float64
 32  2012-01-01  167 non-null    float64
 33  2013-01-01  167 non-null    float64
 34  2014-01-01  166 non-null    float64
 35  2015-01-01  167 non-null    float64
 36  2016-01-01  167 non-null    float64
 37  2017-01-01  167 non-null    float64
 38  2018-01-01  166 non-null    float64
 39  2019-01-01  167 non-null    float64
 40  2020-01-01  166 non-null    float64
 41  2021-01-01  166 non-null    float64
 42  2022-01-01  165 non-null    float64
dtypes: float64(43)
memory usage: 59.1+ KB

el nombre del indice quedó mal, cambiemoslo

In [13]:
df_IED.head()

indice_tiempo,1980-01-01,1981-01-01,1982-01-01,1983-01-01,1984-01-01,1985-01-01,1986-01-01,1987-01-01,1988-01-01,1989-01-01,...,2013-01-01,2014-01-01,2015-01-01,2016-01-01,2017-01-01,2018-01-01,2019-01-01,2020-01-01,2021-01-01,2022-01-01
afganistan,9.00,0.18,0.10,NaN,NaN,NaN,NaN,0.40,NaN,NaN,...,48.311346,42.975262,169.146608,93.591315,51.533897,119.435106,23.404554,12.970148,20.600976,NaN
albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1265.900790,1111.434379,945.722845,1100.671891,1148.891224,1289.689054,1287.966989,1108.159167,1233.917686,1434.125507
argelia,348.67,13.21,-53.57,0.42,0.80,0.4,5.32,3.71,13.02,12.09,...,1696.866750,1506.733438,-584.539199,1636.299236,1232.341924,1474.589069,1381.812310,1142.640690,869.656570,88.768519
angola,37.42,49.05,115.81,104.33,67.14,278.0,234.00,119.00,131.00,200.00,...,-7120.017424,3657.514667,10028.215163,-179.517619,-7397.295409,-6456.076413,-4098.478748,-1866.468113,-4355.116553,-6142.248848
argentina,678.00,837.00,227.00,185.00,268.00,919.0,574.00,-19.00,1147.00,1028.00,...,9821.661858,5065.335542,11758.994011,3260.164342,11516.861462,11716.583568,6649.187838,4722.648813,6782.348887,15087.398354

corregimos el nombre de la columna para países

In [14]:
df_IED.index.name = 'pais'

In [15]:
df_IED.head()

indice_tiempo,1980-01-01,1981-01-01,1982-01-01,1983-01-01,1984-01-01,1985-01-01,1986-01-01,1987-01-01,1988-01-01,1989-01-01,...,2013-01-01,2014-01-01,2015-01-01,2016-01-01,2017-01-01,2018-01-01,2019-01-01,2020-01-01,2021-01-01,2022-01-01
pais,,,,,,,,,,,,,,,,,,,,,
afganistan,9.00,0.18,0.10,NaN,NaN,NaN,NaN,0.40,NaN,NaN,...,48.311346,42.975262,169.146608,93.591315,51.533897,119.435106,23.404554,12.970148,20.600976,NaN
albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1265.900790,1111.434379,945.722845,1100.671891,1148.891224,1289.689054,1287.966989,1108.159167,1233.917686,1434.125507
argelia,348.67,13.21,-53.57,0.42,0.80,0.4,5.32,3.71,13.02,12.09,...,1696.866750,1506.733438,-584.539199,1636.299236,1232.341924,1474.589069,1381.812310,1142.640690,869.656570,88.768519
angola,37.42,49.05,115.81,104.33,67.14,278.0,234.00,119.00,131.00,200.00,...,-7120.017424,3657.514667,10028.215163,-179.517619,-7397.295409,-6456.076413,-4098.478748,-1866.468113,-4355.116553,-6142.248848
argentina,678.00,837.00,227.00,185.00,268.00,919.0,574.00,-19.00,1147.00,1028.00,...,9821.661858,5065.335542,11758.994011,3260.164342,11516.861462,11716.583568,6649.187838,4722.648813,6782.348887,15087.398354

El nombre de las columnas no es conveniente, dejemos solo el año.

In [16]:
df_sedes.columns

Index(['sede_id', 'sede_desc_castellano', 'sede_desc_ingles', 'pais_iso_2',
       'pais_iso_3', 'pais_castellano', 'pais_ingles', 'ciudad_castellano',
       'ciudad_ingles', 'estado', 'sede_tipo'],
      dtype='object')

In [17]:
años = np.arange(1980,2023)

df_IED.columns = años
df_IED.columns

Int64Index([1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990,
            1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
            2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
            2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022],
           dtype='int64')

Listo

<hr>

<h1>Vamos a armar los esquemas</h1>

<h3>Elijo usar  SQL</h3>

**ESQUEMA SEDE**

In [18]:
consulta_sede = """
                SELECT
                    sc.sede_id,
                    s.sede_tipo,
                    COUNT(
                        secc.tipo_seccion
                    ) AS n_secciones,
                    sc.pais_iso_3 AS iso3_sede
                FROM
                    df_sedes_completo sc
                    INNER JOIN df_sedes s ON sc.sede_id = s.sede_id
                    LEFT JOIN df_secciones secc ON sc.sede_id = secc.sede_id
                    GROUP BY sc.sede_id, s.sede_tipo, sc.pais_iso_3
                """

In [19]:
esquema_sede = sql^ consulta_sede

In [20]:
esquema_sede.set_index('sede_id', inplace=True)

In [21]:
esquema_sede.head()

        sede_tipo  n_secciones iso3_sede
sede_id
EISIA    Embajada            5       IDN
EFRUS    Embajada           13       RUS
EALEM    Embajada           10       DEU
ECOLO    Embajada            7       COL
ETUNE    Embajada            7       TUN

Bueno, hay un problema, no estamos en **FN3**.
Necesitamos separar las redes sociales de este esquema

Bueno, se me ocurre que podemos usar substrings tipo `facebook`, `instagram`, `linkedin` para matchear con los links, y así obtener las redes sociales de cada sección.

**Caso especial**: Nóto que para X (ex Twitter), puede aparecer los links, o los arroba (por ej: @ArEthiopia, @argenmiami)

## Esquemas

<ul style="list-style-type: none; padding: 0;">
  <li style="margin-bottom: 5px; padding: 10px; border-radius: 5px; background-color: green;">sede</li>
  <li style="margin-bottom: 5px; padding: 10px; border-radius: 5px; background-color: red;">red_social</li>
  <li style="margin-bottom: 5px; padding: 10px; border-radius: 5px; background-color: red;">pais</li>
  <li style="margin-bottom: 5px; padding: 10px; border-radius: 5px; background-color: red;">inversion</li>
</ul>

**ESQUEMA RED_SOCIAL**

Primero sería mas conveniente tener la columna de redes sociales como tipo lista

In [22]:
def separar_links(rrss):
    """
    Dada un string con links redes sociales separadas por //
    devuelve un array conteniendo estos links
    """
    if isinstance(rrss, str):
        # se obtiene la lista, el separador es //
        # se quita el ultimo elemento porque siempre es un string vacío
        # debido a como vienen los datos
        redes = rrss.split("  //  ")[:-1]
        return redes
    else:
        # si es algo distinto a un string, devuelve una lista vacía
        # (se asume que la sede no tiene redes sociales)
        return []

In [23]:
df_sedes_completo['redes_sociales'] = [separar_links(rrss) for rrss in df_sedes_completo['redes_sociales']]

Pegamos un vistazo:

In [24]:
df_sedes_completo['redes_sociales'].values[:4]

array([list(['https://twitter.com/ArgPortoAlegre', 'https://www.facebook.com/ArgentinaEnPortoAlegre/', 'https://www.instagram.com/argenportoalegre/']),
       list(['https://www.facebook.com/Consulado-de-la-Rep%C3%BAblica-Argentina-en-Antofagasta-255728465291743/']),
       list(['https://www.facebook.com/profile.php?id=100014152878593']),
       list(['@ArgentinaEnAsuncion'])], dtype=object)

Bien, ya tenemos las listas con los links y arrobas a las redes sociales de cada sede.

Vamos a crear ahora una función para obtener la plataforma a la cual pertenece el Link

In [25]:
def obtener_plataforma(link):
    """
    Dado un link o un arroba, devuelve la plataforma a la cual pertenece.
    Se utiliza para esto la sentencia LIKE de SQL
    """
    consulta_plataforma = """
                SELECT
                CASE
                    WHEN $link LIKE '%facebook%' THEN 'Facebook'
                    WHEN $link LIKE '%twitter%' OR $link LIKE '@%' THEN 'X'
                    WHEN $link LIKE '%linkedin%' THEN 'Linkedin'
                    WHEN $link LIKE '%instagram%' THEN 'Instagram'
                    ELSE $link
                END
                """
    
    plataforma = sql_val^ consulta_plataforma
    return plataforma

Con esta funcion estamos preparados para armar un esquema de **redes_sociales**

In [26]:
# Primero obtenemos los datos del esquema y los guardamos en diccionarios
data_rrss = {'sede_id':[], 'id_rs':[], 'plataforma':[]}

for i, sede in df_sedes_completo.iterrows():
    current_rrss = sede['redes_sociales']
    for j in range(len(current_rrss)):
        current_link = current_rrss[j]
        data_rrss['sede_id'].append(sede['sede_id'])
        data_rrss['id_rs'].append(current_link)
        data_rrss['plataforma'].append(obtener_plataforma(current_link))

Creamos un dataframe de rrss y nos para acesorarnos que no haya ningún link repetido (pues queremos usar los links como indeices)

In [27]:
esquema_rrss = pd.DataFrame(data_rrss)
esquema_rrss['id_rs'].value_counts()

@embargenqatar                                      2
https://twitter.com/ArgPortoAlegre                  1
https://www.facebook.com/ArgentinaEnJamaica/        1
www.facebook.com/ArgentinaEnKenia                   1
https://www.facebook.com/ArgJapon/?ref=bookmarks    1
                                                   ..
www.twitter.com/ARGEnAzer                           1
https://www.facebook.com/ArgentinaEnBarbados/       1
https://www.facebook.com/ArgentinaEnBelgica/        1
https://www.instagram.com/argenbelgica/             1
https://www.facebook.com/ArgEnPalestina             1
Name: id_rs, Length: 271, dtype: int64

Nos encontramos con que `@embargenqatar` aparece dos veces. Si miramos en df_sedes_completo se puede ver ese error.

In [28]:
esquema_rrss[esquema_rrss['id_rs'] == '@embargenqatar']

    sede_id           id_rs plataforma
217   EQATR  @embargenqatar          X
218   EQATR  @embargenqatar          X

Efectivamente es una fila duplicada. Eliminamos una de ellas.

In [29]:
print(f'Ahora hay {len(esquema_rrss.index)} filas')
esquema_rrss.drop_duplicates(inplace=True)
print(f'Despues de eliminar los duplicados hay {len(esquema_rrss.index)} filas')

Ahora hay 272 filas
Despues de eliminar los duplicados hay 271 filas

Perfecto, solo habia una fila duplicada, y era la que habiamos identificado.

In [30]:
esquema_rrss.set_index('id_rs', inplace=True)

In [49]:
esquema_rrss.head()

                                                   sede_id plataforma
id_rs
https://twitter.com/ArgPortoAlegre                   CALEG          X
https://www.facebook.com/ArgentinaEnPortoAlegre/     CALEG   Facebook
https://www.instagram.com/argenportoalegre/          CALEG  Instagram
https://www.facebook.com/Consulado-de-la-Rep%C3...   CANTO   Facebook
https://www.facebook.com/profile.php?id=1000141...   CAREN   Facebook

## Esquemas

<ul style="list-style-type: none; padding: 0;">
  <li style="margin-bottom: 5px; padding: 10px; border-radius: 5px; background-color: green;">sede</li>
  <li style="margin-bottom: 5px; padding: 10px; border-radius: 5px; background-color: green;">red_social</li>
  <li style="margin-bottom: 5px; padding: 10px; border-radius: 5px; background-color: red;">pais</li>
  <li style="margin-bottom: 5px; padding: 10px; border-radius: 5px; background-color: red;">inversion</li>
</ul>

**ESQUEMA PAÍS**

In [32]:
df_paises.columns

Index(['nombre', ' name', ' nom', ' iso2', ' iso3', ' phone_code'], dtype='object')

Los nombres de las columnas tienen un espacio por delante, arreglemos eso.

In [33]:
df_paises.rename(columns={' name':'name', ' nom':'nom', ' iso2':'iso2', ' iso3':'iso3', ' phone_code':'phone_code'},
                 inplace=True)

In [34]:
consulta_pais = """
                SELECT DISTINCT p.iso3, p.nombre, s.region_geografica
                FROM df_sedes_completo s
                LEFT JOIN df_paises p
                ON s.pais_iso_3 = p.iso3
                """

In [35]:
esquema_pais = sql^ consulta_pais

In [36]:
esquema_pais.set_index('iso3', inplace=True)
esquema_pais.head()

         nombre     region_geografica
iso3
CHL       Chile     AMÉRICA  DEL  SUR
CAN      Canadá   AMÉRICA  DEL  NORTE
ZAF   Sudáfrica  ÁFRICA  SUBSAHARIANA
ITA      Italia    EUROPA  OCCIDENTAL
AGO      Angola  ÁFRICA  SUBSAHARIANA

## ESQUEMAS

<ul style="list-style-type: none; padding: 0;">
  <li style="margin-bottom: 5px; padding: 10px; border-radius: 5px; background-color: green;">sede</li>
  <li style="margin-bottom: 5px; padding: 10px; border-radius: 5px; background-color: green;">red_social</li>
  <li style="margin-bottom: 5px; padding: 10px; border-radius: 5px; background-color: green;">pais</li>
  <li style="margin-bottom: 5px; padding: 10px; border-radius: 5px; background-color: red;">inversion</li>
</ul>

**ESQUEMA INVERSION**

Bueno, primero notamos que solo necesitamos los años entre 2018 y 2022 para cumplir con los objetivos del trabajo.
Decidimos por lo tanto deshacernos del resto de las columnas que corresponden a años anteriores.

In [37]:
df_IED = df_IED[[2018, 2019, 2020, 2021, 2022]]

In [38]:
df_IED.head()

                    2018         2019         2020         2021          2022
pais
afganistan    119.435106    23.404554    12.970148    20.600976           NaN
albania      1289.689054  1287.966989  1108.159167  1233.917686   1434.125507
argelia      1474.589069  1381.812310  1142.640690   869.656570     88.768519
angola      -6456.076413 -4098.478748 -1866.468113 -4355.116553  -6142.248848
argentina   11716.583568  6649.187838  4722.648813  6782.348887  15087.398354

El mayor problema ahora está dado por el numbre de los países, que el formato tiene **dos diferencias**
cuando se lo compara con el de `df_paises`:

    - No empieza con mayuscula
    - En lugar de espacios tienen un guion bajo _
    - No hay tildes

//
Esto se podria resolver primero cambiando el guiony el espacio por un string vacio, y luego a la hora de comparar estos dos valores, simplemente podriamos usar LOWER para sacar la mayuscula del df paises. Tambien va a ser necesario quitar los tildes (esto va a ser mas facil usando python)

Pero ni siquiera esto lo solucionaria, pues en la tabla de IED hay nombres de paises mal escritos, por ej 'rep_de_corea' o 'kazakhstan'

Podemos hacer el intento de con un programa arreglar todos los que se puedan, y luego ver cuales quedaron sin Matchear por algún error. Y arreglarlos manualmente a travez de codigo, si tenemos suerte serán pocos.

In [39]:
# ponemos los paises como una columna, para poder usarlo en SQL
df_IED['pais'] = df_IED.index

In [40]:
def quitar_tildes(nombre_pais):
    # toma un string y quita todos los tildes sobre vocales
    pais_sin_tildes = nombre_pais
    pais_sin_tildes = pais_sin_tildes.replace('á','a').replace('é','e').replace('ú','u').replace('ó','o').replace('í','i')

    return pais_sin_tildes

In [41]:
df_paises['nombre'] = [quitar_tildes(pais) for pais in df_paises['nombre'].values]

Ya no tienen tildes, ahora hagamos la consulta sql

In [42]:
def pais_a_iso3(nombre_pais):
    """
    Obtiene el iso3 de un pais usando su nombre,
    se usan funciones de SQL para eliminar diferencias
    en el formato de los dos dataframes.
    """

    consulta_pais_iso3 = """
                    SELECT iso3
                    FROM df_paises
                    WHERE LOWER(REPLACE(nombre, ' ','')) = REPLACE($nombre_pais, '_','')
                    OR LOWER(REPLACE(name, ' ','')) = REPLACE($nombre_pais, '_','')
                    """
    pais = sql_val^ consulta_pais_iso3
    if pais != None:
        return pais
    else:
        return nombre_pais

In [43]:
iso3 = [pais_a_iso3(nombre_pais) for nombre_pais in df_IED['pais']]

In [44]:
df_IED['pais'] = iso3

In [45]:
df_IED.head()

,2018,2019,2020,2021,2022,pais
pais,,,,,,
afganistan,119.435106,23.404554,12.970148,20.600976,NaN,AFG
albania,1289.689054,1287.966989,1108.159167,1233.917686,1434.125507,ALB
argelia,1474.589069,1381.812310,1142.640690,869.656570,88.768519,DZA
angola,-6456.076413,-4098.478748,-1866.468113,-4355.116553,-6142.248848,AGO
argentina,11716.583568,6649.187838,4722.648813,6782.348887,15087.398354,ARG

Veamos cuantos quedaron sin pasar a iso3, para esto chequeamos que solo tengan 3 caracteres de largo.

In [46]:
a_corregir = []
for pais in df_IED['pais'].values:
    if len(pais) != 3:
        a_corregir.append(pais)

print(a_corregir)
print('\n' + f'son {len(a_corregir)} paises')

['bosnia_herzegovina', 'brunei_darussalam', 'china_rae_de_hong_kong', 'china_rae_de_macao', 'china_provincia_de_taiwan', 'congo', 'cote_divoire', 'czechia', 'checoslovaquia', 'rep_dem_del_congo', 'polinesia_frances', 'guinea_bissau', 'guayana', 'rep_de_corea', 'mejico', 'antillas_holandesas', 'katar', 'republica_de_moldova', 'federacion_rusa', 'santo_tome_principe', 'serbia_montenegro', 'espanna', 'estado_de_palestina', 'tfyr_de_macedonia', 'trinidad_tobago', 'emiratos_arabes_unidos', 'estados_unidos']

son 27 paises

Hay ciertos paises que quedaron afuera, y creemos que merecen la pena agregarlos uno por uno:

    - Estados Unidos
    - Mexico
    - España
    - Corea del Sur
    - Rusia
    - Emiratos Arabes Unidos

Ahora pasamos el dataframe a largo formato para obtener la idea de esquema que planteamos

In [47]:
# Esto hace que las columnas de año se fusionen en una sola
# ahora el pk esta formado por pais y año.
esquema_IED = pd.melt(df_IED, id_vars=['pais']\
                    , value_vars=[2018,2019,2020,2021,2022]\
                    ,var_name='anio', value_name='inversion')

In [48]:
esquema_IED.head(20)

   pais  anio     inversion
0   AFG  2018    119.435106
1   ALB  2018   1289.689054
2   DZA  2018   1474.589069
3   AGO  2018  -6456.076413
4   ARG  2018  11716.583568
5   ARM  2018    266.855049
6   ABW  2018    110.175650
7   AUS  2018  67568.132981
8   AUT  2018   5389.769142
9   AZE  2018   1403.000000
10  BHS  2018    947.430032
11  BHR  2018   1654.255319
12  BGD  2018   3613.300000
13  BRB  2018    241.596500
14  BLR  2018   1421.000000
15  BEL  2018  27137.175060
16  BLZ  2018    118.275547
17  BEN  2018    194.073683
18  BMU  2018     95.416371
19  BOL  2018    302.368781

In [52]:
# guardamos todos los esquemas en la carpeta TablasLimpias
esquema_pais.to_csv("TablasLimpias/esquema_pais.csv")
esquema_rrss.to_csv("TablasLimpias/esquema_rrss.csv")
esquema_sede.to_csv("TablasLimpias/esquema_sede.csv")
esquema_IED.to_csv("TablasLimpias/esquema_IED.csv")

<h2>Ahora pasamos a realizar las consultas SQL</h2>

**i) Para cada país informar cantidad de sedes, cantidad de secciones en
promedio que poseen sus sedes y el flujo monetario neto de Inversión
Extranjera Directa (IED) del país en el año 2022. El orden del reporte debe
respetar la cantidad de sedes (de manera descendente). En caso de empate,
ordenar alfabéticamente por nombre de país.**